@import "tailwindcss";

@theme {
  --blue-950: #000814;
  --blue-900: #001d3d;
  --blue-800: #003566;

  --yellow-500: #ffc300;
  --yellow-400: #ffd60a;
  --yellow-300: #ffe345;
}

/* ✅ Page-ka oo dhan ha buuxsamo */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* ✅ Font saxan */
* {
  font-family: "Prompt", sans-serif;
}
